/**
 * Calculators
 *
 */

.invisible {
	visibility: hidden;
}

.slide {
	background: none repeat scroll 0 0 #C4C4C4;
	border-bottom: 1px solid #EDEDED;
	border-radius: 11px;
	border-top: 1px solid #868686;
	width: 400px;
	height: 11px;
	margin: 0;
	padding: 0 10px;
	position: relative;
}

.slider-result {
	background: none repeat scroll 0 0 #DBF98C;
	width: 100px;
	margin: 10px 0;
	padding: 5px;
	text-align: center;
}

.slider-result span,
.slider-result .easy-breadcrumb a,
.easy-breadcrumb .slider-result a {
	font-size: 1em;
}

#slider-result-min,
#slider-result-max {
	font-size: 1.2em;
}

.ui-slider-handle {
	background: url(../images/slider-button.png) no-repeat 0 0;
	width: 26px;
	height: 28px;
	margin-left: -12px;
	position: absolute;
	top: -7px;
	z-index: 200;
}

.ui-widget-header {
	background: none repeat scroll 0 0 #0066CC;
	border-radius: 11px;
	height: 8px;
	left: 1px;
	position: absolute;
	top: 1px;
}

/* Calculators */

.calculator .title {
	font-size: 2em;
}

.calculator th {
	font-size: 1.6em;
}

.calculator td {
	font-size: 1em;
}

.calculator label {
	font-size: 1.5em;
}

.calculator p,
.calculator .field-name-body li,
.field-name-body .calculator li,
.calculator .taxonomy-term-description li,
.taxonomy-term-description .calculator li,
.calculator .group-products-information li,
.group-products-information .calculator li {
	font-size: 1.2em;
}

.calculator .group {
	margin-bottom: 5px;
}

.calculator .radio {
	float: left;
	width: auto;
	height: auto;
}

.radios label {
	width: 25%;
}

.results th.odd {
	background: #BDE6FF;
}

.results th.even {
	background: #8ad3ff;
}

.results .resultodd,
.results .resulteven {
	font-size: 1.3em;
}

.results .resultodd {
	background: #79b3d6;
}

.results .resulteven {
	background: #529dca;
}

.slider-result span,
.slider-result .easy-breadcrumb a,
.easy-breadcrumb .slider-result a {
	font-size: 1.3em;
}

.legend table {
	width: auto !important;
}

.legendLabel {
	font-size: 1.4em !important;
}

/*------- Calculator Slider */

#slider {
	width: 640px;
	margin: 0 auto;
	position: relative;
}

.coda-slider .panel-container {
	position: relative;
}

.coda-slider {
	background: #f2f2f2;
	border-bottom: 1px solid #999;
	border-left: 1px solid #e2e2e2;
	border-right: 1px solid #999;
	width: 640px;
	margin: 0 auto;
	float: left;
	overflow: hidden;
	position: relative;
	z-index: 3;
}

.coda-slider .panel {
	padding: 20px;
	height: auto;
	width: 600px;
	float: left;
	min-height: 274px;
}

.coda-slider .panel-wrapper {
	height: auto;
	padding-bottom: 30px;
}

#slider-id-wrapper {
	width: 640px !important;
}

/* Old Styles */

.coda-nav ul {
	margin: 14px auto 0;
	padding: 0;
	width: 640px;
	height: 30px;
}

.coda-nav ul li {
	float: left;
	list-style: none outside none !important;
	margin-right: 4px;
}

.coda-nav ul a {
	display: block;
	float: left;
	width: 70px;
	height: 25px;
	padding-top: 5px;
	background: url(../images/calc-btn-bg.gif) repeat-x #BBDE4E bottom left;
	text-align: center;
	font-size: 14px;
	border-radius: 5px 5px 0px 0px;
}

.coda-nav a:hover,
.coda-nav a:focus {
	color: #ffffff;
	background: url(../images/calc-btn-bg-hover.gif) repeat-x #026AAA;
}

.coda-nav a.current {
	background: #f2f2f2;
	color: #06578A;
	border-top: 1px solid #e2e2e2;
	border-left: 1px solid #e2e2e2;
	border-right: 1px solid #999;
}

.coda-nav-left a,
.coda-nav-right a {
	display: block;
	width: 25px;
	height: 80px;
	position: absolute;
	top: 100px;
	cursor: pointer;
	background: #1D7AB4;
	padding-top: 50px;
	text-align: center;
	font-size: 2em;
	color: #ffffff !important;
	z-index: 0;
	border-bottom: 1px solid #0c5f93;
	border-right: 1px solid #0c5f93;
	border-left: 1px solid #3d98d1;
	border-top: 1px solid #3d98d1;
}

.coda-nav-left a:hover,
.coda-nav-left a:focus {
	background-color: #BBDE4E;
	left: -25px;
	border: none;
}

.coda-nav-right a:hover,
.coda-nav-right a:focus {
	background-color: #BBDE4E;
	right: -25px;
	border: none;
}

.coda-nav-left a {
	left: -22px;
}

.coda-nav-right a {
	right: -22px;
}

/* Graphs */

.graphs {
	margin-top: 90px;
}

/* Savings */

.saving-box {
	position: relative;
}

form.calculator .saving-box {
	position: relative;
	left: 383px;
}

form.calculator span.savings,
form.calculator .easy-breadcrumb a.savings,
.easy-breadcrumb form.calculator a.savings {
	display: block;
	color: #1D7AB4;
	font-size: 30px;
	padding: 8px 8px 8px 85px;
	position: absolute;
	background: url(../images/savings.png) no-repeat 10px 15px #DBF98C;
	font-weight: bold;
}
